body{
    background-color:rgb(202, 228, 235); 
    margin: 0; 
    padding: 0;
    color:rgb(27, 9, 40);
}
.headline{
    text-align: center;
    background-color: rgb(77, 77, 229);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    margin: 0;
}
.headline h1{
    margin: 0;
}
.headline h2{
    margin: 0;
}
main{
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.inmain{
    width: 100%;
}
img{
    float: left;
    height:300px;
    width: 300px;
    padding-left: 10%;
}
.info1{
    text-align: center;
    list-style: none;
    border: 10px solid rgb(226, 135, 157);
    background-color: rgb(166, 179, 206);
}
.info1 p{
    padding-top: 70px;
}
.info2{
    text-align: center;
    border: 10px solid rgb(226, 135, 157);
    background-color: rgb(166, 179, 206);
}
video{
    padding-top: 5%;
    height: 500px;
    width: 500px;
}
.blank1{
    text-align: center;
}
.lastline{
    padding-left: 20%;
    padding-top: 0%;
    border: 5px solid rgb(167, 105, 105);
    background-color: rgb(193, 195, 201);
}
.prcvideo{
    display: flex;
    justify-content: flex-end;
}